.switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  transition: border 0.3s;
}

.switch:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.switch__checkbox {
  opacity: 0;
}

.switch__checkbox:hover + .switch__circle {
  transform: translateX(2px);
}

.switch__checkbox:checked:hover + .switch__circle {
  transform: translateX(-2px);
}

.switch__circle {
  background-color: rgba(0, 0, 0, 1);
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: -2px;
  transition: all .3s;
}

.switch__text {
  position: absolute;
  color: gray;
  top: 7px;
  font-size: 14px;
  line-height: 1;
  mix-blend-mode: difference;
}

.switch__text-F {
  left: 8px;
}

.switch__text-C {
  right: 8px;
}

.switch__checkbox:checked ~ .switch__circle {
  left: 30px;
}

.switch__text_color_white {
  color: white;
}
