.card {
  max-width: 322px;
  max-height: 322px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card__header {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
  gap: 10px;
}

.card__name {
  padding: 2px 12px;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.card__like-btn {
  background: url("../../../assets/heart-inactive.svg") no-repeat center;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}

.card__like-btn_active {
  background-image: url("../../../assets/heart-active.svg");
}
